:root {
    /* الألوان الأساسية */
    --primary-color: #00685E;    /* RGB: (0, 104, 94) */
    --secondary-color: #8BAA99;  /* RGB: (139, 170, 153) */
    --dark-color: #101820;       /* RGB: (16, 24, 32) */

    /* الألوان الفرعية */
    --accent-color-1: #F2C75C;   /* RGB: (242, 199, 92) */
    --accent-color-2: #E59256;   /* RGB: (229, 146, 86) */
    --accent-color-3: #A13525;   /* RGB: (161, 53, 37) */
    --accent-color-4: #006797;   /* RGB: (0, 103, 151) */
    --accent-color-5: #00A399;   /* RGB: (0, 163, 153) */
    --accent-color-6: #B98346;   /* RGB: (185, 131, 70) */
}
body {
    background-color: var(--dark-color);
    color: var(--secondary-color);
}

h1, h2, h3 {
    color: var(--primary-color);
}

a {
    color: var(--accent-color-4); /* اللون الفرعي */
    text-decoration: none;
}

a:hover {
    color: var(--accent-color-1); /* تغيير اللون عند التمرير */
}

.header {
    background-color: var(--primary-color);
}

.footer {
    background-color: var(--dark-color);
    color: var(--secondary-color);
}

.button {
    background-color: var(--accent-color-2);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--accent-color-1);
}